/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
	color: #C04239;
}

	a:hover {
		color: #C04239;
	}

.btn-primary {
	line-height: 1;
	color: #e8e4dd;
	font-weight: 900;
	font-size: 1rem;
	background-color: #252e36;
	border-radius: 4px;
	border-width: 0;
	text-decoration: none;
	padding: 16px;
}

	.btn-primary:hover,
	.btn-primary:active {
		color: #e8e4dd !important;
		background-color: #c04239 !important;
	}

.btn-outline-primary {
	line-height: 1;
	color: #c04239;
	font-weight: 900;
	font-size: 1rem;
	border: 1px solid #c04239;
	border-radius: 4px;
	text-decoration: none;
	padding: 16px;
}

	.btn-outline-primary:hover,
	.btn-outline-primary:active {
		color: #e8e4dd !important;
		background-color: #c04239 !important;
		border-color: #252e36 !important;
	}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	/*margin-bottom: 60px;*/
	background-color: #e8e4dd;
}

/* GENERAL */

p {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 20px;
}

h1 {
	font-weight: 900;
}

/* Layout */

.logo {
	background-image: url('/img/AS Logo 4.2 - small.png');
	min-width: 250px;
	min-height: 81px;
}

@media (min-width: 352px) {
	.logo {
		background-image: url('/img/AS Logo 4.2.png');
		min-width: 351px;
		min-height: 114px;
	}
}

#mainhead::before {
	background: #252e36;
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
	content: "";
	display: block;
	height: 100px;
	left: 50%;
	margin-left: -100px;
	position: absolute;
	top: -34px;
	width: 200px;
	z-index: 1;
}

#mainhead::after {
	z-index: 1;
	background: #252e36;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
	content: "";
	display: block;
	height: 100px;
	left: 50%;
	margin-left: -100px;
	position: absolute;
	bottom: -37px;
	width: 200px;
}

.site-header {
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	background: #252e36;
	border-bottom: 5px solid #c04239;
	border-top: 5px solid #c04239;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	margin: 30px 0 32px;
	max-width: 100vw;
	min-height: 68px;
	padding-top: 16px;
	position: relative;
}

.site-branding {
	z-index: 2;
}

#mainhead .main-navigation {
	margin-bottom: 0;
	order: 3;
	position: relative;
	text-align: center;
	z-index: 2;
}

#mainhead a {
	color: #fff;
	/*padding: 10px;*/
	font-size: 20px;
}

	#mainhead a:hover {
		color: rgba(255,255,255,.5);
		text-decoration: none;
	}

	#mainhead a.active {
		color: #C04239;
	}

#mainhead .main-navigation > div > ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
}

.menu-primary-container {
	margin-top: 20px;
}

.footer {
	background: #252e36;
	border-bottom: 5px solid #c04239;
	border-top: 5px solid #c04239;
	font-weight: 900;
	padding: 32px 16px;
	color: #fff;
	text-align: center;
}

/* Index */

.main-picture {
	background-image: url('/img/cog-wheels-2125169_1280.jpg');
	background-position: 50% 55%;
	min-height: 200px;
	background-color: #252e36;
	margin-top: -32px;
	background-size: cover;
}

.fonts {
	font-family: 'Lora', serif;
}

/* Contact */

.contact_form {
	padding-top: 85px;
}

.contact_form_title {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 37px;
}

@media (min-width: 768px) {
	.input_field {
		width: calc((100% - 10px) / 3);
	}
}

.input_field {
	width: 100%;
	height: 50px;
	padding-left: 25px;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
	outline: none;
	color: #0e8ce4;
	margin-bottom: 30px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

	.input_field:focus,
	.text_field:focus {
		border-color: #b2b2b2;
	}

	.input_field:hover,
	.text_field:hover {
		border-color: #b2b2b2;
	}

	.input_field::-webkit-input-placeholder,
	.text_field::-webkit-input-placeholder {
		font-size: 16px;
		font-weight: 400;
		color: rgba(0,0,0,0.3);
	}

	.input_field:-moz-placeholder,
	.text_field:-moz-placeholder {
		font-size: 16px;
		font-weight: 400;
		color: rgba(0,0,0,0.3);
	}

	.input_field::-moz-placeholder,
	.text_field::-moz-placeholder {
		font-size: 16px;
		font-weight: 400;
		color: rgba(0,0,0,0.3);
	}

	.input_field:-ms-input-placeholder,
	.text_field:-ms-input-placeholder {
		font-size: 16px;
		font-weight: 400;
		color: rgba(0,0,0,0.3);
	}

.text_field {
	width: 100%;
	height: 160px;
	padding-left: 25px;
	padding-top: 15px;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
	color: #0e8ce4;
	outline: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

/* Recent customers*/

#wrapper {
	margin: 0 auto;
	padding: 0px;
	/*text-align: center;*/
	width: 100%;
}

	#wrapper h1 {
		margin-top: 150px;
		font-size: 55px;
		color: #0489B1;
	}

		#wrapper h1 a {
			color: #0489B1;
			font-size: 18px;
		}

#image_div .img_wrapper {
	/*	width: 50%;*/
	position: relative;
	/*	display: inline-block;*/
}

	#image_div .img_wrapper img {
		width: 100%;
	}

	#image_div .img_wrapper:hover img {
		/*-webkit-filter: blur(3px);*/
		opacity: 0.5;
	}

	#image_div .img_wrapper span {
		display: none;
		position: absolute;
		top: 50%;
		left: 39%;
	}

@media (max-width: 767px) {
	#image_div .img_wrapper span {
		display: none;
		position: absolute;
		top: 42%;
		left: 40%;
	}
}

#image_div .img_wrapper:hover span {
	display: table-cell;
	z-index: 2;
}

#image_div .img_wrapper span {
	/*width: 120px;
	height: 45px;
	background-color: #583AC4;
	border: none;
	color: white;*/
	font-weight: bold;
	font-size: 17px;
	/*padding: 10px;
	text-decoration-line: none;*/
}

.coming-soon,
.now-live {
	position: absolute;
	height: 230px;
	width: 300px;
	display: inline-block;
	overflow: hidden;
	color: #fff;
	left: 0;
	z-index: 0;
}

	.coming-soon:after,
	.now-live:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 25%;
		height: 100%;
		background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
		-webkit-transform-origin: 100%;
		-ms-transform-origin: 100%;
		transform-origin: 100%;
		-webkit-transform: skew(-60deg);
		-ms-transform: skew(-60deg);
		transform: skew(-60deg);
		z-index: -1;
		margin-top: -25px;
	}

.coming-soon-text {
	font-size: 24px;
	margin-left: 10px;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
}

.now-live-text {
	font-size: 24px;
	margin-left: 32px;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
}

.seperator {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	height: 10px;
}

@media (max-width: 767px) {
	.seperator {
		width: 90%;
	}
}
